<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange Bleue - Register</title>
    <link rel="icon" href="/images/orange.png">
</head>
<body>
    <h1>Membership Form</h1>
    <form action="/users/register" method="post">
        <label for="club">Club:</label>
        <input type="text" id="club" name="club" required><br><br>

        <label for="subscription">Subscription:</label>
        <input type="text" id="subscription" name="subscription" required><br><br>

        <label for="civility">Civility:</label>
        <input type="text" id="civility" name="civility" required><br><br>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required><br><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br><br>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required><br><br>

        <label for="zipcode">Zip Code:</label>
        <input type="text" id="zipcode" name="zipcode" required><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required><br><br>

        <label for="trainProgram">Training Program:</label>
        <textarea id="trainProgram" name="trainProgram" rows="4" cols="50"></textarea><br><br>

        <input type="checkbox" id="mailing" name="mailing">
        <label for="mailing">Subscribe to mailing list</label><br><br>

        <input type="checkbox" id="GCU" name="GCU" required>
        <label for="GCU">Agree to Terms and Conditions (GCU)</label><br><br>

        <input type="submit" value="Submit">
    </form>  
</body>
</html>